@import url(https://fonts.googleapis.com/css?family=Manrope);
body,
button,
input,
optgroup,
select,
textarea {
  font-family: Manrope, sans-serif; }

body {
  color: #000;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5;
  background-color: #ebebeb; }

.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 2.5rem;
  padding-right: 0.5rem;
  z-index: 0; }

.columns {
  margin-left: -.75rem;
  margin-right: -.75rem;
  margin-top: -.75rem; }

.columns:last-child {
  margin-bottom: -.75rem; }

@media print, screen and (min-width: 769px) {
  .columns:not(.is-desktop) {
    display: flex; } }
.has-text-leftalign {
  text-align: left !important; }

.has-text-centered {
  text-align: center !important; }

.has-text-light {
  color: #f5f5f5 !important; }

@media print, screen and (min-width: 769px) {
  .level > .level-item:not(.is-narrow) {
    flex-grow: 1; } }
.level {
  align-items: center;
  justify-content: space-between; }

.level-item {
  align-items: center;
  display: flex;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center; }

@media print, screen and (min-width: 769px) {
  .level {
    display: flex; } }
html {
  background-color: #ebebeb;
  font-size: 16px;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  box-sizing: border-box; }

*,
:after,
:before {
  box-sizing: inherit; }

.navbar-burger,
blockquote,
body,
dd,
dl,
dt,
fieldset,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
html,
iframe,
legend,
li,
ol,
p,
pre,
textarea,
ul {
  margin: 0;
  padding: 0; }

.content blockquote:not(:last-child),
.content dl:not(:last-child),
.content ol:not(:last-child),
.content p:not(:last-child),
.content pre:not(:last-child),
.content table:not(:last-child),
.content ul:not(:last-child),
.media-content ul:not(:last-child) {
  margin-bottom: 1em; }

.content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em; }

.media-content ul {
  list-style: disc outside;
  margin-left: 2em;
  margin-top: 1em; }

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto; }

.container.is-fluid {
  max-width: none !important;
  padding-left: 32px;
  padding-right: 32px;
  width: 100%; }

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1200px; } }
span {
  font-style: inherit;
  font-weight: inherit; }

.section {
  padding: 2.15rem 1.5rem; }

article,
aside,
figure,
footer,
header,
hgroup,
section {
  display: block; }

.block:not(:last-child),
.box:not(:last-child),
.breadcrumb:not(:last-child),
.content:not(:last-child),
.level:not(:last-child),
.message:not(:last-child),
.notification:not(:last-child),
.pagination:not(:last-child),
.progress:not(:last-child),
.subtitle:not(:last-child),
.table-container:not(:last-child),
.table:not(:last-child),
.tabs:not(:last-child),
.title:not(:last-child) {
  margin-bottom: 1.5rem; }

.title {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125; }

.subtitle,
.title {
  word-break: break-word; }

h1,
h2,
h3 {
  font-size: 100%;
  font-weight: 400; }

hr {
  border: none;
  display: block;
  height: 2px;
  margin: 1.5rem 0;
  background-color: #000; }

strong {
  color: #363636;
  font-weight: 700; }

.heading {
  display: block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 5px;
  text-transform: uppercase; }

.footer {
  background-color: #272727;
  padding: 3rem 1.5rem; }

.footer a {
  color: #fff; }

input[type="text"] {
  padding: 10px;
  width: 60%;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 5px; }

.tags {
  margin-top: 1.25rem;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }

.tags .tag {
  margin-bottom: .5rem; }

.tag.is-status {
  background-color: #ededed;
  color: #635b5a; }

.tags .tag:not(:last-child) {
  margin-right: .5rem; }

.tags:last-child {
  margin-bottom: -.5rem; }

.tag:not(body) {
  align-items: center;
  background-color: #f0dec7;
  border-radius: 10px;
  color: #7c5f3d;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: .75em;
  padding-right: .75em;
  white-space: nowrap; }

a {
  color: #161A31;
  cursor: pointer;
  text-decoration: none; }

a strong {
  color: currentColor; }

a:hover {
  color: #ffb158; }

a strong:hover {
  color: #ffb158; }

a.has-text-light:focus,
a.has-text-light:hover {
  color: #ffb158 !important; }

a.icon > strong {
  margin-left: .25rem; }

.media {
  align-items: flex-start;
  display: flex;
  text-align: inherit; }

.media .content:not(:last-child) {
  margin-bottom: 0.75rem; }

.media .media {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  display: flex;
  padding-top: 0.75rem; }

.media .media .content:not(:last-child),
.media .media .control:not(:last-child) {
  margin-bottom: 0.5rem; }

.media .media .media {
  padding-top: 0.5rem; }

.media .media .media + .media {
  margin-top: 0.5rem; }

.media + .media {
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  margin-top: 1rem;
  padding-top: 1rem; }

.media.is-large + .media {
  margin-top: 1.5rem;
  padding-top: 1.5rem; }

.media-left,
.media-right {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 0; }

.media-left {
  margin-right: 1rem; }

.media-right {
  margin-left: 1rem; }

.media-left.is-width-caped,
.media-right.is-width-caped {
  max-width: 400px; }

.media-content {
  flex-basis: auto;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: inherit; }

@media screen and (max-width: 768px) {
  .media-content {
    overflow-x: auto; } }
.responsive-media {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.responsive-media .media-content,
.responsive-media .media-left,
.responsive-media .media-right {
  flex: 1 1 100%; }

@media screen and (min-width: 768px) {
  .responsive-media {
    flex-direction: row; }

  .responsive-media .media-content,
  .responsive-media .media-left,
  .responsive-media .media-right {
    flex: 1; }

  .responsive-media .media-right {
    margin-left: 1rem; }

  .responsive-media .media-left {
    margin-right: 1rem; } }
.image {
  display: block;
  position: relative; }

.image img {
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover; }

img {
  height: auto;
  max-width: 100%; }

img,
video {
  height: auto;
  max-width: 100%; }

.image.is-152x152 {
  height: 152px;
  width: 152px; }

.image.is-48x48 {
  height: 48px;
  width: 48px; }

.image img.is-rounded {
  border-radius: 9999px; }

.level img {
  display: inline-block;
  vertical-align: top; }

.icon {
  align-items: center;
  height: 1.5rem;
  justify-content: center;
  width: 1.5rem; }

.icon.is-large {
  height: 3rem;
  width: 3rem; }

.button {
  color: #272727;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-size: 1rem;
  line-height: 1.5; }

.project-links .button {
  background-color: #272727;
  border-color: #dbdbdb;
  border-width: 0px;
  color: #fff;
  cursor: pointer;
  justify-content: center;
  padding: calc(.5em - 1px) 1em;
  text-align: center;
  white-space: nowrap;
  border-radius: 0; }

.project-links .button:hover {
  background-color: #ffb158; }

.project-links a:hover {
  color: currentColor; }

.project-links a strong:hover {
  color: currentColor; }

.navbar {
  background-color: #13131a;
  color: #fff; }

.navbar a:not(.navbar-brand) {
  padding: 8px 8px 8px 32px;
  margin-inline: 8px;
  text-decoration: none;
  font-size: 16px;
  color: #fff;
  display: block;
  transition: 0.3s; }

.navbar-brand {
  padding: 8px 32px 8px 32px; }

.navbar a:hover {
  background-color: #ffb158; }

.navbar .navbar-toggler:hover {
  background-color: #ffb158; }

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: #13131a;
  color: #fff;
  margin-top: 2rem; }

.hero .icon {
  margin-right: 1rem; }

.hero-body {
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem; }

@media print, screen and (min-width: 769px) {
  .hero-body {
    padding: 3rem; } }
.hero strong {
  color: inherit; }

.hero-body h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word; }

.hero-body h2 {
  color: rgba(255, 255, 255, 0.9);
  margin-top: -1.25rem;
  max-width: 50rem;
  word-break: break-word;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 1.5rem; }

.hero-body .container-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }

.hero.is-small .hero-body {
  padding: 1.5rem; }

@media print, screen and (min-width: 769px) {
  .hero.is-medium .hero-body {
    padding: 9rem 4.5rem; }

  .hero.is-large .hero-body {
    padding: 18rem 6rem; } }
.hero.is-fullheight .container,
.hero.is-fullheight-with-navbar .container,
.hero.is-halfheight .container {
  align-items: center;
  display: flex; }

.card {
  background-color: #fff;
  color: #4a4a4a;
  max-width: 100%;
  position: relative;
  margin-top: 1.75rem;
  border-radius: 0;
  border-color: transparent; }

.card-content {
  padding: 1.5rem;
  background-color: transparent; }

.card-content:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem; }

.card-content:last-child {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem; }

.card-content .media:not(:last-child) {
  margin-bottom: 1.5rem; }

.card-content h1 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
  margin-bottom: 1.5rem; }

.card-content h2 {
  font-size: 1.25rem;
  color: #4a4a4a;
  font-weight: 400;
  line-height: 1.25;
  word-break: break-word;
  margin-top: -1.25rem;
  margin-bottom: 1.5rem; }

.card-content h3 {
  font-size: 1rem;
  color: #4a4a4a;
  font-weight: 400;
  line-height: 1.25;
  word-break: break-word;
  margin-top: -1.25rem;
  margin-bottom: 1.5rem; }
